node-red-data2/flows.json
[
    {
        "id": "2c04b82b54e7c438",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "0aa02b07887f2bcd",
        "type": "appwrite-config",
        "endpoint": "http://192.168.11.15/v1",
        "project": "63559599b6e40a21e5e2",
        "apikey": "827e8a972f5286c237589ed0d603859f331258f0b1cf50f6c734908a09357db833a711041083c5252326b83ed62ff2eb7ff715928f58e9b415d702f105b7af7a39908b03727e717e7dbdb5fc78d622787cfcb5f4faa6784d39e6b4fddc6c221999a8fc1a075ef3fb614b079d5614099210f5eb18e4a321751b7eed5ff3815668"
    },
    {
        "id": "1c8919554f74222b",
        "type": "inject",
        "z": "2c04b82b54e7c438",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 180,
        "wires": [
            [
                "e628d7a5e0c2bfec"
            ]
        ]
    },
    {
        "id": "e628d7a5e0c2bfec",
        "type": "debug",
        "z": "2c04b82b54e7c438",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 200,
        "wires": []
    },
    {
        "id": "88c4d3d1cf277876",
        "type": "http in",
        "z": "2c04b82b54e7c438",
        "name": "",
        "url": "/test",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 460,
        "wires": [
            [
                "65b8a7f220fd6a7c",
                "569106536f0e89c7",
                "1ed1ec9f12e95f97"
            ]
        ]
    },
    {
        "id": "65b8a7f220fd6a7c",
        "type": "function",
        "z": "2c04b82b54e7c438",
        "name": "function 1",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 460,
        "wires": [
            [
                "1d2a8f1cb9e52139"
            ]
        ]
    },
    {
        "id": "1d2a8f1cb9e52139",
        "type": "http response",
        "z": "2c04b82b54e7c438",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 560,
        "y": 460,
        "wires": []
    },
    {
        "id": "4df9568744ee9d87",
        "type": "http request",
        "z": "2c04b82b54e7c438",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 590,
        "y": 620,
        "wires": [
            [
                "48b09b9d5cf69fa1",
                "2c82ed0c070f4ced"
            ]
        ]
    },
    {
        "id": "6a1a48216c507703",
        "type": "http response",
        "z": "2c04b82b54e7c438",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 920,
        "y": 620,
        "wires": []
    },
    {
        "id": "48b09b9d5cf69fa1",
        "type": "function",
        "z": "2c04b82b54e7c438",
        "name": "function 2",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 620,
        "wires": [
            [
                "6a1a48216c507703"
            ]
        ]
    },
    {
        "id": "1248947f26523a97",
        "type": "inject",
        "z": "2c04b82b54e7c438",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 620,
        "wires": [
            [
                "6127f4bd50eae5cd"
            ]
        ]
    },
    {
        "id": "569106536f0e89c7",
        "type": "debug",
        "z": "2c04b82b54e7c438",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 320,
        "wires": []
    },
    {
        "id": "2c82ed0c070f4ced",
        "type": "debug",
        "z": "2c04b82b54e7c438",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 740,
        "wires": []
    },
    {
        "id": "6127f4bd50eae5cd",
        "type": "function",
        "z": "2c04b82b54e7c438",
        "name": "function 3",
        "func": "let createurl = 'https://berg.itsm365.com/sd/services/rest/';\nlet key = '?accessKey=c7d3be27-3678-4b00-ace6-94513e62ca44';\nmsg.url = createurl + 'create/serviceCall$newEmploeeSC' + key;\n\nmsg.payload = {\n    \"agreement\": \"agreement$605301\",\n    \"service\": \"slmService$133968701\",\n    \"baseCategory\": \"category$108594953\",\n    \"client\": \"employee$140161423\",\n    \"shortDescr\": \"shortDescr\",\n    \"descriptionRTF\": \"descriptionRTF\",\n    \"jobTitleEmp\": \"Должность222\",\n    \"surNameEmp\": \"Фамилия333\",\n    \"NameEmp\": \"Имя444\"\n}\n\nreturn msg;\n\n//msg.url = \"http://localhost:1880/test\"\n\n//\"baseCategory\": \"category$108594953\",",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 620,
        "wires": [
            [
                "4df9568744ee9d87"
            ]
        ]
    },
    {
        "id": "1ed1ec9f12e95f97",
        "type": "advanced logger",
        "z": "2c04b82b54e7c438",
        "name": "q",
        "filename": "node-red.log",
        "complete": "payload",
        "console": true,
        "file": false,
        "debug": true,
        "zip": false,
        "logtype": "info",
        "prefix": "/data/Loger/%DATE%.log",
        "datePattern": "YYYY-MM-DD.",
        "x": 210,
        "y": 540,
        "wires": []
    },
    {
        "id": "fcf1188971baf330",
        "type": "list documents",
        "z": "2c04b82b54e7c438",
        "appwriteConfig": "0aa02b07887f2bcd",
        "collectionId": "63559ddfb2bcd75e66cd",
        "name": "qqq",
        "x": 170,
        "y": 920,
        "wires": [
            [
                "1117bc47debe8b81"
            ]
        ]
    },
    {
        "id": "1117bc47debe8b81",
        "type": "debug",
        "z": "2c04b82b54e7c438",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 920,
        "wires": []
    },
    {
        "id": "59acc73948d03d80",
        "type": "inject",
        "z": "2c04b82b54e7c438",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "63559dd38604c03b42f2",
        "payloadType": "str",
        "x": 170,
        "y": 840,
        "wires": [
            [
                "fcf1188971baf330"
            ]
        ]
    }
]